{% extends 'base.html' %}
{% block content %}

<div class="container-fluid" id="section_cabinet_overview"
        style="padding: 100px 16px 0 16px;min-height: 240px;background-position: center !important;background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.4)), url(https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=f&amp;f=30179&amp;token=4ee023a3e0a6b158884270a1de08cf7ad9cce5c9)">
        <div class="container">
            <div class="row mabo32">
                <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                    <p class="txt_title txt_white mabo32">ABOUT KIGALI CITY</p>
                    <p class="txt_content txt_white text-justify mabo32"></p>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid" id="section_overview">
        <div class="container">
            <div class="col-12 ">
                <div class="row">
                    <style>
                        .txt_content strong {
                            font-size: 18px;
                            color: #000;
                            font-family: 'AvenirBlack';
                            line-height: 28px;
                        }
                    </style>
                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 mato32 txt_content text-justify">

                        <p class="txt_subtitle txt_black mabo16">Background</p>
                        <p class="txt_content txt_grey text-justify"></p>
                        <p>The City of Kigali is the capital of Rwanda and is located at Rwanda’s geographical heart.
                            Occupying an area of 730km2, the City is located at latitude 10o58’ S and a longitude 30o07’
                            E.The average annual precipitation rate is approximately, with an annual average high
                            temperature of 27oC and annual average low temperature of 16 oC.</p>
                        <p>The City of Kigali is composed of three Districts namely Gasabo, Kicukiro and Nyarugenge.
                            Gasabo is the largest district by geographical area at 429.3km2, followed by Kicukiro
                            (166.7km2) and Nyarugenge (134km2). The City of Kigali population is 1,745,555 the datsource
                            is the fifth Rwanda Population and Housing Census (RPHC5).</p>
                        <p>The districts are also divided into 35 administrative sectors which in turn are divided into
                            161 Cells.The smallest administrative unit is the village and the City is made up of 1,155
                            villages.The City boarders the Gicumbi and Rulindo Districts of Northern Province, Bugesera
                            and Rwamagana Districts of Eastern Province and Kamonyi District of Southern Province.
                            Kigali is the most visited area in Rwanda. It houses several tourism sites, hotels, and a
                            centrally placed International Airport.&nbsp;</p>
                        <p>A new International Airport in Bugesera to serve Kigali is under construction about 15 km to
                            the east of the City.The City of Kigali, the capital city of Rwanda has seen rapid growth
                            for the last two and half decades. It is among the fastest growing cities in Africa with an
                            urbanization annual growth rate of 4% and it contributes over 41% of the national GDP which
                            indicates the primacy of Kigali to the Rwandan economy.&nbsp;</p>
                        <p>This growth has been driven by visionary leadership in Rwanda which has helped transform the
                            country from a low scale agrarian economy to an active player within the regional
                            economy.&nbsp;Kigali has been at the centre of the transformation in Rwanda and is on the
                            threshold of rapid economic growth.</p>
                        <p></p>

                    </div>
                    <div class="col category">
                        <p class="txt_subtitle txt_blue mabo16">3 Districts</p>
                        <p class="txt_content txt_black">Gasabo, Kicukiro, Nyarugenge</p>

                    </div>
                    <div class="col category">
                        <p class="txt_subtitle txt_blue mabo16">730</p>
                        <p class="txt_content txt_black">Total area/km2</p>

                    </div>
                    <div class="col category">
                        <p class="txt_subtitle txt_blue mabo16">1.7 Millions</p>
                        <p class="txt_content txt_black">Population</p>

                    </div>
                    <div class="col category">
                        <p class="txt_subtitle txt_blue mabo16">21°-27°</p>
                        <p class="txt_content txt_black">Temperature</p>

                    </div>
                    <div class="col category">
                        <p class="txt_subtitle txt_blue mabo16">69.6 years</p>
                        <p class="txt_content txt_black">Life expectancy</p>

                    </div>
                    <div class="col category">
                        <p class="txt_subtitle txt_blue mabo16">41%</p>
                        <p class="txt_content txt_black">national GDP</p>

                    </div>
                    <div class="col category">
                        <p class="txt_subtitle txt_blue mabo16">+4%</p>
                        <p class="txt_content txt_black">urbanization annual growth rate</p>

                    </div>
                    <style>
                        .txt_content b,
                        .txt_content strong {
                            color: #666;
                            font-size: 22px;
                            font-weight: bold;
                        }

                        .h2,
                        h1,
                        h2 {
                            font-family: 'AvenirBlack';
                            text-align: left;
                            color: #333;
                            font-size: 22px;

                        }

                        #section_overview {
                            padding: 40px 16px !important;
                        }
                    </style>
                    <div class="col-12 col-lg-6 col-md-6 col-sm-12">

                        <div class="txt_content txt_grey text-justify mabo0">
                            <h2>The City of Kigali Vision:</h2>
                            <p>The vision of the City of Kigali is to become “The Centre of Urban Excellence in Africa”.
                            </p>
                            <h2>The City of Kigali Mission:</h2>
                            <p>The mission of the City of Kigali is to “Build and Sustain a City of Character, Vibrant
                                Economy and Diversity through strong Partnerships with Stakeholders to provide
                                responsive, rapid and effective Urban Development’’.</p>
                            <h2>Goals of the City of Kigali</h2>
                            <p>The goal of the City of Kigali is to be:</p>
                            <ul>
                                <li>
                                    <p>A City of character, vibrant economy and diversity</p>
                                </li>
                                <li>
                                    <p>A City of green transport</p>
                                </li>
                                <li>
                                    <p>A City of affordable homes</p>
                                </li>
                                <li>
                                    <p>A City of enchanting nature &amp; biodiversity</p>
                                </li>
                                <li>
                                    <p>A City of sustainable resource management</p>
                                </li>
                                <li>
                                    <p>A City of Endearing character &amp; unique local identity</p>
                                </li>
                            </ul>
                            <h2>The administrative Structures of the City of Kigali</h2>
                            <ol>
                                <li>
                                    <p>The Council of the City of Kigali,</p>
                                </li>
                                <li>
                                    <p>The Executive Committee of the City of Kigali,</p>
                                </li>
                                <li>
                                    <p>The Security Committee of the City of Kigali,</p>
                                </li>
                                <li>
                                    <p>The City Management of the City of Kigali</p>
                                </li>
                                <li>
                                    <p>Districts of City of Kigali</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <style>
                        .txt_content b,
                        .txt_content strong {
                            color: #666;
                            font-size: 22px;
                            font-weight: bold;
                        }

                        .h2,
                        h1,
                        h2 {
                            font-family: 'AvenirBlack';
                            text-align: left;
                            color: #333;
                            font-size: 22px;

                        }

                        #section_overview {
                            padding: 40px 16px !important;
                        }
                    </style>
                    <div class="col-12 col-lg-6 col-md-6 col-sm-12">

                        <div class="txt_content txt_grey text-justify mabo0">
                            <h2>Responsibilities of the City of Kigali</h2>

                            <p>The City of Kigali has the following responsibilities:</p>
                            <ol>
                                <li>
                                    <p>To ensure the implementation of national policies;</p>
                                </li>
                                <li>
                                    <p>To monitor the implementation of national policies in Districts;</p>
                                </li>
                                <li>
                                    <p>To prepare the development plan of the City of Kigali and ensure its
                                        implementation;</p>
                                </li>
                                <li>
                                    <p>To prepare the master plan of the City of Kigali, specific master plans and to
                                        ensure their implementation,</p>
                                </li>
                                <li>
                                    <p>To develop infrastructure and urbanization of the City of Kigali;</p>
                                </li>
                                <li>
                                    <p>To promote social welfare and economic development activities;</p>
                                </li>
                                <li>
                                    <p>To ensure the safety of people and goods in the City of Kigali;</p>
                                </li>
                                <li>
                                    <p>To issue guidelines and to coordinate activities of Districts;</p>
                                </li>
                                <li>
                                    <p>To monitor activities and functioning of Districts and other State organs
                                        operating at the level of the City of Kigali;</p>
                                </li>
                                <li>
                                    <p>To ensure hygiene, sanitation and water treatment in the City of Kigali;</p>
                                </li>
                                <li>
                                    <p>To develop and implement the plan of action for the transport of persons and
                                        goods in the City of Kigali;</p>
                                </li>
                                <li>
                                    <p>To mobilise resources and put in place strategies for collection of taxes and
                                        fees in accordance with relevant laws;</p>
                                </li>
                                <li>
                                    <p>To promote and follow up investment activities in the City of Kigali;</p>
                                </li>
                                <li>
                                    <p>To provide services that are not rendered by other administrative entities of the
                                        City of Kigali;</p>
                                </li>
                                <li>
                                    <p>To promote cooperation and partnership with other organs at national or
                                        international levels.</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg_grey" id="section_overview">
        <div class="container">
            <div class="col-12">
                <div class="row"></div>
            </div>
        </div>
    </div>


    <!--SECTION FOOTER STARTS-->

    

    <button onclick="topFunction()" id="backToTop" title="Go to top">↑<br><span class="txt_info txt_grey">Back
            top</span></button>

            {% endblock %}