{% extends 'base.html'%}
{% load static %}



    

    {%block content %}

    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NZ28643" height="0" width="0"
            style="display:none;visibility:hidden">
        </iframe>
    </noscript>

    


    <div class="container-fluid pad0" id="tradNews">
        <div class="container-fluid ministry_container ">
            <div class="row">
                <div class="col-12 col-lg-10 col-md-2 col-sm-2 pad0">

                </div>
                <div class="col-12 col-lg-10 col-md-10 col-sm-10 pad0">
                    <span class="breaking-title"> </span>

                    <div class="breaking-cont">


                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Pictures Sliding -->
    <div class="container-fluid pad0" id="bgSlides">
        <div class="container-fluid align-self-center">
            <div class="row">
                <div class="carousel slide carousel-fade" data-interval="5000" data-pause="false" data-ride="carousel">
                    <div class="carousel-inner">

                        <div class="carousel-item carousel-item-next carousel-item-left">
                            <img class="d-block w-100" src="{% static 'img/téléchargement.jpeg' %}">
                        </div>

                        <div class="carousel-item">
                            <img class="d-block w-100" src="{% static 'img/35937-slider3.jpeg' %}">
                        </div>

                        <div class="carousel-item active carousel-item-left">
                            <img class="d-block w-100" src="{% static 'img/AGII.jpg' %}">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid d-flex" id="section_landing">
        <div class="container align-self-center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <style>
                        .stat_blue {
                            text-align: center;
                            padding: 20px 16px;
                            background: #078ece;
                            color: #fff;
                            -webkit-box-shadow: 0px 3px 13px 0px rgb(0 0 0 / 8%);
                            -moz-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.08);
                            box-shadow: 0px 3px 13px 0px rgb(0 0 0 / 8%);
                        }
                    </style>
                    <p class="txt_head txt_white mabo16">Découvrez notre belle ville</p>
                    <p class="txt_title txt_white fnt_light mabo32">Le guide le plus passionnant pour vivre, travailler,
                        visiter et investir à Adiaké.</p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <a class="btn btn_blue" href="#">en savoir plus</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- SECTION MANDATE STARTS -->
    <div class="container-fluid" id="section_call_to_action">
        <div class="embassy_container">

            <div class="container-fluid" id="section_programs">
                <div class="container">
                    <div class="row mabo32">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mato32">
                            <div class="row">
                                <style>
                                    .stat_blue a {
                                        color: #fff;
                                    }

                                    .city_blue {
                                        font-size: 14px;
                                        padding-left: 10px;
                                        padding-top: 10px;
                                        padding-right: 20px;
                                        text-align: center;
                                    }

                                    .txt_subtitle {
                                        font-size: 17px;
                                    }

                                    .txt_title {
                                        font-size: 22px;
                                    }

                                    .btn_blue {
                                        border-radius: 50px;
                                    }

                                    .stat_blue a:hover {
                                        background: #135465;
                                        color: #fff;
                                        -webkit-transition: 0.2s ease-out;
                                        -moz-transition: 0.2s ease-out;
                                        -o-transition: 0.2s ease-out;
                                        transition: 0.2s ease-out;
                                    }
                                </style>

                                <div class="col-12 col-lg-3 col-md-3 col-sm-6 stat_blue">
                                    <a href="https://www.bpmis.gov.rw/" title="CONSTRUCTION PERMIT SYSTEM"
                                        target="_blank" rel="noreferrer">
                                        <center>

                                            <img class="txt_subtitle mato16"
                                                src="https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=f&amp;f=29893&amp;token=62047c7c128017a13b57f4fa8a6624e466cfa8e7"
                                                alt="Image" height="58" width="auto">
                                        </center>
                                        <div class="city_blue">
                                            <p class="txt_subtitle mato16 ">
                                                SYSTÈME DE PERMIS DE CONSTRUIRE
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <style>
                                    .stat_white {
                                        background-color: #fff !important;
                                        padding: 20px 16px;
                                    }

                                    .stat_blue {

                                        padding: 20px 16px;
                                    }

                                    .city_white {
                                        text-align: center;
                                        color: #444;
                                        padding-left: 10px;
                                        padding-top: 10px;
                                        padding-right: 20px;
                                        text-align: center;
                                    }

                                    .stat_blue:hover {
                                        background: #054d6f;
                                        -webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.1);
                                        -moz-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.1);
                                        box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.1);
                                        -webkit-transition: 0.2s ease-out;
                                        -moz-transition: 0.2s ease-out;
                                        -o-transition: 0.2s ease-out;
                                        transition: 0.2s ease-out;
                                        color: #f8f8f8;
                                    }

                                    .stat_white:hover {
                                        background: #f4f5f6;
                                        -webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.1);
                                        -moz-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.1);
                                        box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.1);
                                        -webkit-transition: 0.2s ease-out;
                                        -moz-transition: 0.2s ease-out;
                                        -o-transition: 0.2s ease-out;
                                        transition: 0.2s ease-out;
                                    }
                                </style>
                                <div class="col-12 col-lg-3 col-md-3 col-sm-6 stat_white">
                                    <center>
                                        <img class="txt_subtitle mato16"
                                            src="https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=f&amp;f=29887&amp;token=b3f28c05af8c1882e4630cdc653b47a517bc0959"
                                            alt="Image" height="58" width="auto">
                                    </center>
                                    <div class="city_white">
                                        <p class="txt_subtitle mato16 "><a
                                                href="https://masterplan2020.kigalicity.gov.rw/portal/apps/webappviewer/index.html?id=218a2e3088064fc6b13198b4304f3d35/"
                                                title="MASTER PLAN ONLINE" target="_blank" rel="noreferrer">
                                                SCHÉMA DIRECTEUR EN LIGNE
                                            </a> </p>
                                    </div>
                                </div>
                                <style>
                                    .stat_blue a {
                                        color: #fff;
                                    }

                                    .city_blue {
                                        font-size: 14px;
                                        padding-left: 10px;
                                        padding-top: 10px;
                                        padding-right: 20px;
                                        text-align: center;
                                    }

                                    .txt_subtitle {
                                        font-size: 17px;
                                    }

                                    .txt_title {
                                        font-size: 22px;
                                    }

                                    .btn_blue {
                                        border-radius: 50px;
                                    }

                                    .stat_blue a:hover {
                                        background: #135465;
                                        color: #fff;
                                        -webkit-transition: 0.2s ease-out;
                                        -moz-transition: 0.2s ease-out;
                                        -o-transition: 0.2s ease-out;
                                        transition: 0.2s ease-out;
                                    }
                                </style>

                                <div class="col-12 col-lg-3 col-md-3 col-sm-6 stat_blue">
                                    <a href="https://rdb.rw/" title="DOING BUSINESS IN RWANDA" target="_blank"
                                        rel="noreferrer">
                                        <center>

                                            <img class="txt_subtitle mato16"
                                                src="https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=f&amp;f=29946&amp;token=8fa5e963524b709af421c79ea4f65656f884f0bf"
                                                alt="Image" height="58" width="auto">
                                        </center>
                                        <div class="city_blue">
                                            <p class="txt_subtitle mato16 ">
                                                FAIRE DES AFFAIRES AU RWANDA </p>
                                        </div>
                                    </a>
                                </div>
                                <style>
                                    .stat_white {
                                        background-color: #fff !important;
                                        padding: 20px 16px;
                                    }

                                    .stat_blue {

                                        padding: 20px 16px;
                                    }

                                    .city_white {
                                        text-align: center;
                                        color: #444;
                                        padding-left: 10px;
                                        padding-top: 10px;
                                        padding-right: 20px;
                                        text-align: center;
                                    }

                                    .stat_blue:hover {
                                        background: #054d6f;
                                        -webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.1);
                                        -moz-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.1);
                                        box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.1);
                                        -webkit-transition: 0.2s ease-out;
                                        -moz-transition: 0.2s ease-out;
                                        -o-transition: 0.2s ease-out;
                                        transition: 0.2s ease-out;
                                        color: #f8f8f8;
                                    }

                                    .stat_white:hover {
                                        background: #f4f5f6;
                                        -webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.1);
                                        -moz-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.1);
                                        box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.1);
                                        -webkit-transition: 0.2s ease-out;
                                        -moz-transition: 0.2s ease-out;
                                        -o-transition: 0.2s ease-out;
                                        transition: 0.2s ease-out;
                                    }
                                </style>
                                <div class="col-12 col-lg-3 col-md-3 col-sm-6 stat_white">
                                    <center>
                                        <img class="txt_subtitle mato16"
                                            src="https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=f&amp;f=29888&amp;token=df3547361014d4d655a010697174bb8bd2443c0b"
                                            alt="Image" height="58" width="auto">
                                    </center>
                                    <div class="city_white">
                                        <p class="txt_subtitle mato16 "><a href="/1/city-guide/what-to-visit-in-kigali"
                                                title="CITY GUIDE">
                                                Guide de la ville
                                            </a> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center justify-content-center">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12"></div>
                    </div>
                </div>
            </div>


            <a id="c55832"></a>

            <div class="wrapper">

                <div class="divider div-transparent div-dot"></div>
            </div>

            <style>
                hr {

                    border: 0;
                    border-top: 0
                }

                .wrapper {
                    padding-bottom: 20px;
                    padding-top: 30px;
                }

                .wrapper div {
                    min-height: 10px !important;
                    padding: 10px;
                }

                .divider {
                    position: relative;
                    margin-top: 30px;
                    height: 1px;
                }

                .div-transparent:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 5%;
                    right: 5%;
                    width: 90%;
                    height: 1px;
                    background-image: linear-gradient(to right, transparent, rgb(48, 49, 51), transparent);
                }

                .div-arrow-down:after {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    top: -7px;
                    left: calc(50% - 7px);
                    width: 14px;
                    height: 14px;
                    transform: rotate(45deg);
                    background-color: white;
                    border-bottom: 1px solid rgb(48, 49, 51);
                    border-right: 1px solid rgb(48, 49, 51);
                }

                .div-tab-down:after {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: calc(50% - 10px);
                    width: 20px;
                    height: 14px;
                    background-color: white;
                    border-bottom: 1px solid rgb(48, 49, 51);
                    border-left: 1px solid rgb(48, 49, 51);
                    border-right: 1px solid rgb(48, 49, 51);
                    border-radius: 0 0 8px 8px;
                }

                .div-stopper:after {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    top: -6px;
                    left: calc(50% - 7px);
                    width: 14px;
                    height: 12px;
                    background-color: white;
                    border-left: 1px solid rgb(48, 49, 51);
                    border-right: 1px solid rgb(48, 49, 51);
                }

                .div-dot:after {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    top: -9px;
                    left: calc(50% - 9px);
                    width: 18px;
                    height: 18px;
                    background-color: #004c85;
                    border: 1px solid rgb(48, 49, 51);
                    border-radius: 50%;
                    box-shadow: inset 0 0 0 2px white,
                        0 0 0 4px white;
                }
            </style>



            <div class="container pad0 main-content">
                <style>
                    .about {
                        padding: 60px 0px;
                    }

                    .about img {
                        width: 100%;
                        border-radius: 4px;
                        object-fit: cover;
                        height: 470px;
                    }

                    .about td img {
                        height: 100%;
                        object-fit: cover;
                        width: 100%;
                    }

                    .about .txt_title {
                        font-size: 38px
                    }

                    .category {
                        border: 0.5px solid #eee;
                        padding: 10px 16px;
                        background: #ffffff;
                        -webkit-transition: 0.2s ease-out;
                        -moz-transition: 0.2s ease-out;
                        -o-transition: 0.2s ease-out;
                        transition: 0.2s ease-out;
                    }

                    .category:hover {
                        border: 0.5px solid #eee;
                        padding: 10px 16px;
                        -webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.08);
                        -moz-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.08);
                        box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.08);
                        -webkit-transition: 0.2s ease-out;
                        -moz-transition: 0.2s ease-out;
                        -o-transition: 0.2s ease-out;
                        transition: 0.2s ease-out;
                    }
                </style>
                <div class="row justify-content-center about">
                    <div class="col-12 col-sm-12 col-md-6">
                        <img
                            src="https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=f&amp;f=36905&amp;token=03d69a7f8229d10e13312956884b650297b9f9f6">
                    </div>
                    <div class="col-12 col-sm-12 col-md-6">
                        <p class="txt_title mabo32">BIenvenue dans la commune d'Adiaké</p>
                        <p class="txt_subtitle mabo32"></p>
                        <p class="txt_content mabo32"> </p>
                        <p>La commune d'Adiaké est située à quatre vingt quinze (95) kilomètres d'Abidjan et à une
                            cinquantaine de kilomètres d'Aboisso, chef-lieu de la région du Sud Comoé:
                            Le Conseil Municipal comprend vingt neuf (29) Conseillers élus au suffrage universel pour un
                            mandat de cinq (5) ans. Il est composé du Maire, de quatre Adjoints et de vingt quatre
                            conseillers.</p>
                        <p>la ville d' Adiaké, à l'origine, a rayonné sur l'ensemble du plan d'eau lagunaire Aby. De par
                            sa position stratégique sur la rive occidentale, Adiaké a permis des liaisons continentales
                            ou lagunaires par le canal d'Assinie avec Abidjan.</p>
                        <p>Adiaké a servi de débouché aux villages situés à l'arrière plan et dont la lagune était le
                            seul moyen de communication. Cette fonction bien qu'existant encore aujourd'hui, est quelque
                            peu affectée par l'ouverture de l'axe Aboisso-Noé. La création en 1986 de la Sous
                            -Préfecture de Tiapoum dans les anciennes limites de la Sous Préfecture d'Adiaké et
                            l'érection de Tiapoum en département, sont significatives d'une certaine perte d'influence.
                        </p>

                        <p>DUSENGIYUMVA Samuel</p>
                        <p>Mayor of The City of Kigali</p>

                        <p></p>

                        <a href="/about/overview" target="_blank" class="btn btn_blue mabo32">
                            Learn more
                        </a>

                        <!-- <a href="pages/about.html" class="btn uc_btn_3 mabo32" type="submit">lEARN MORE</a> -->
                        <div class="row">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="wrapper">

        <div class="divider div-transparent div-dot"></div>
    </div>
    <!-- SECTION NEWS ENDS -->

    <!-- SECTION NEWS STARTS -->
    <div class="container-fluid" id="section_updates">
        <div class="container pad0">

            <div class="container pad0 main-content">
                <div class="row mabo32">
                    <div class="col-7 pad032">
                        <p class="txt_title txt_black mabo32">Actualités</p>
                    </div>
                    <div class="col-5 pad032">
                        <div class="owl-theme updates_controls">
                            <div class="owl-controls">
                                <div class="custom-nav owl-nav disabled"><button type="button" role="presentation"
                                        class="owl-prev"><i
                                            class="fas fa-chevron-left txt_subtitle txt_black upd_ctrl prev"></i></button><button
                                        type="button" role="presentation" class="owl-next"><i
                                            class="fas fa-chevron-right txt_subtitle txt_black upd_ctrl next"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a id="c28396"></a>

            <div class="news">

                <!--TYPO3SEARCH_end-->


                <div class="owl-carousel owl-loaded owl-drag" id="carousel-news">

                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                            style="transition: 0.25s; width: 4440px; transform: translate3d(-1480px, 0px, 0px);">



                            <div class="owl-item cloned" style="width: 370px;">
                                <div class="col-12">
                                    <div class="boximg">
                                        <a title="Women Join Kigali #CarFreeDay to Promote Community and Family Well-being "
                                            href="/news-detail/women-join-kigali-carfreeday-to-promote-community-and-family-well-being">

                                            <img class="img-responsive blog_small_cover mabo32"
                                                src="https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=p&amp;p=269203&amp;token=bb143a36d7d3774e7a68d3e06852deda97f316cd"
                                                width="350" height="214" alt="">

                                        </a>
                                    </div>
                                    <div class="articletype-0" itemscope="itemscope"
                                        itemtype="http://schema.org/Article">


                                        <div class="txt_info txt_grey mabo16 extra">
                                            <!-- author -->



                                            <!-- category -->



                                        </div>


                                        <a title="Women Join Kigali #CarFreeDay to Promote Community and Family Well-being "
                                            href="/news-detail/women-join-kigali-carfreeday-to-promote-community-and-family-well-being">
                                            <h3 class="txt_content txt_black fnt_black mabo16 text-uppercase">
                                                Women Join Kigali #CarFreeDay to Promote Community and Family
                                                Well-being </h3>
                                        </a>
                                        <!-- teaser -->
                                        <div class="txt_content txt_grey text-justify mabo16 lead">


                                            <p>On June 2, 2024, city residents turned out in large numbers for the
                                                bi-monthly Kigali #CarFreeDay. Notably, a significant number of
                                                women participated…</p>


                                        </div>
                                        <a class="btn btn_link txt_blue"
                                            title="Women Join Kigali #CarFreeDay to Promote Community and Family Well-being "
                                            href="/news-detail/women-join-kigali-carfreeday-to-promote-community-and-family-well-being">
                                            Read more
                                            →
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button
                            role="button" class="owl-dot"><span></span></button><button role="button"
                            class="owl-dot active"><span></span></button><button role="button"
                            class="owl-dot"><span></span></button><button role="button"
                            class="owl-dot"><span></span></button><button role="button"
                            class="owl-dot"><span></span></button></div>
                </div>



                <!--TYPO3SEARCH_begin-->

            </div>

            <div class="row text-center justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <a href="#" title="Explore More" class="btn btn_blue">
                        Explore Mores
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- SECTION NEWS ENDS -->



    <!-- Twitter Feed Section -->
    <div class="container-fluid" id="section_updates_twitter">
        <div class="container pad0 main-content-twitter">
            <!--<div class="row mabo32">
          <div class="col-6 pad032">
            <p class="mabo32"><span class="emb-twitter-icon"><i class="fab fa-twitter "></i></span></p>
          </div>
          <div class="col-6 pad032">
            <div class="owl-theme updates_controls">
              <div class="owl-controls">
                <div class="custom-nav-twitter owl-nav"></div>
              </div>
            </div>
          </div>
        </div>-->



            <a id="c28402"></a>

            <div class="tx_nstwitter">
                <div class="container pad0">
                    <div class="owl-carousel owl-loaded owl-drag" id="carousel-twitter">

                        <div class="owl-stage-outer">
                            <div class="owl-stage"></div>
                        </div>
                        <div class="owl-dots disabled"></div>
                    </div>
                </div>
            </div>
            <a id="c54570"></a>

            <style>
                #section_updates_twitter {
                    padding: 60px 16px;
                    display: none;
                }
            </style>

        </div>
    </div>

    <!-- End Twitter Feed Section -->

    <!-- Section Partners -->
    <div class="container-fluid" id="section_affiliated">
        <div class="container">

            <a id="c55833"></a>

            <div class="wrapper">

                <div class="divider div-transparent div-dot"></div>
            </div>

            <style>
                .wrapper {
                    padding-bottom: 20px;
                    padding-top: 30px;
                }

                .wrapper div {
                    min-height: 10px !important;
                    padding: 10px;
                }

                .divider {
                    position: relative;
                    margin-top: 30px;
                    height: 1px;
                }

                .div-transparent:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 5%;
                    right: 5%;
                    width: 90%;
                    height: 1px;
                    background-image: linear-gradient(to right, transparent, rgb(48, 49, 51), transparent);
                }

                .div-arrow-down:after {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    top: -7px;
                    left: calc(50% - 7px);
                    width: 14px;
                    height: 14px;
                    transform: rotate(45deg);
                    background-color: white;
                    border-bottom: 1px solid rgb(48, 49, 51);
                    border-right: 1px solid rgb(48, 49, 51);
                }

                .div-tab-down:after {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: calc(50% - 10px);
                    width: 20px;
                    height: 14px;
                    background-color: white;
                    border-bottom: 1px solid rgb(48, 49, 51);
                    border-left: 1px solid rgb(48, 49, 51);
                    border-right: 1px solid rgb(48, 49, 51);
                    border-radius: 0 0 8px 8px;
                }

                .div-stopper:after {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    top: -6px;
                    left: calc(50% - 7px);
                    width: 14px;
                    height: 12px;
                    background-color: white;
                    border-left: 1px solid rgb(48, 49, 51);
                    border-right: 1px solid rgb(48, 49, 51);
                }

                .div-dot:after {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    top: -9px;
                    left: calc(50% - 9px);
                    width: 18px;
                    height: 18px;
                    background-color: #004c85;
                    border: 1px solid rgb(48, 49, 51);
                    border-radius: 50%;
                    box-shadow: inset 0 0 0 2px white,
                        0 0 0 4px white;
                }
            </style>

            <style>
                .owl-carousel .owl-item {
                    overflow: hidden;
                }

                #section_affiliated {
                    padding: 11px 16px;
                }
            </style>
            <div class="row text-center justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">

                    <h2></h2>

                </div>
            </div>
            <div class="owl-carousel clients-carousel clients owl-loaded owl-drag">


                <div class="owl-stage-outer">
                    <div class="owl-stage"
                        style="transform: translate3d(-1295px, 0px, 0px); transition: 0.25s; width: 2960px;">
                        <div class="owl-item cloned" style="width: 185px;">
                            <div id="partners">
                                <a href="http://www.irembo.gov.rw" target="_blank" class="partner" rel="noreferrer">
                                    <img src="https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=f&amp;f=30569&amp;token=c606263aaa792e53554c28b35a8c10bc8ccca1c8"
                                        alt="Irembo" title="Irembo">
                                </a>

                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 185px;">
                            <div id="partners">
                                <a href="https://www.rfl.rw/" target="_blank" class="partner" rel="noreferrer">
                                    <img src="https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=f&amp;f=30250&amp;token=49270aa4446ae89e51267d75fa721bc2a91f9d56"
                                        alt="Rwanda Finance" title="Rwanda Finance">
                                </a>

                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 185px;">
                            <div id="partners">
                                <a href="https://www.visitrwanda.com/" target="_blank" class="partner" rel="noreferrer">
                                    <img src="https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=f&amp;f=30251&amp;token=6651e7cd3b7e85cd7add1459cdf510ba1766bb26"
                                        alt="Visit Rwanda" title="Visit Rwanda">
                                </a>

                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 185px;">
                            <div id="partners">
                                <a href="http://www.rdb.rw" target="_blank" class="partner" rel="noreferrer">
                                    <img src="https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=f&amp;f=30249&amp;token=9c087ab2ba55ab92fbd8bcc729a33fa0921d66dc"
                                        alt="RDB" title="RDB">
                                </a>

                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 185px;">
                            <div id="partners">
                                <a href="http://www.irembo.gov.rw" target="_blank" class="partner" rel="noreferrer">
                                    <img src="https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=f&amp;f=30569&amp;token=c606263aaa792e53554c28b35a8c10bc8ccca1c8"
                                        alt="Irembo" title="Irembo">
                                </a>

                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 185px;">
                            <div id="partners">
                                <a href="https://www.rfl.rw/" target="_blank" class="partner" rel="noreferrer">
                                    <img src="https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=f&amp;f=30250&amp;token=49270aa4446ae89e51267d75fa721bc2a91f9d56"
                                        alt="Rwanda Finance" title="Rwanda Finance">
                                </a>

                            </div>
                        </div>
                        <div class="owl-item" style="width: 185px;">
                            <div id="partners">
                                <a href="https://www.visitrwanda.com/" target="_blank" class="partner" rel="noreferrer">
                                    <img src="https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=f&amp;f=30251&amp;token=6651e7cd3b7e85cd7add1459cdf510ba1766bb26"
                                        alt="Visit Rwanda" title="Visit Rwanda">
                                </a>

                            </div>
                        </div>
                        <div class="owl-item active" style="width: 185px;">
                            <div id="partners">
                                <a href="http://www.rdb.rw" target="_blank" class="partner" rel="noreferrer">
                                    <img src="https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=f&amp;f=30249&amp;token=9c087ab2ba55ab92fbd8bcc729a33fa0921d66dc"
                                        alt="RDB" title="RDB">
                                </a>

                            </div>
                        </div>
                        <div class="owl-item active" style="width: 185px;">
                            <div id="partners">
                                <a href="http://www.irembo.gov.rw" target="_blank" class="partner" rel="noreferrer">
                                    <img src="https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=f&amp;f=30569&amp;token=c606263aaa792e53554c28b35a8c10bc8ccca1c8"
                                        alt="Irembo" title="Irembo">
                                </a>

                            </div>
                        </div>
                        <div class="owl-item active" style="width: 185px;">
                            <div id="partners">
                                <a href="https://www.rfl.rw/" target="_blank" class="partner" rel="noreferrer">
                                    <img src="https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=f&amp;f=30250&amp;token=49270aa4446ae89e51267d75fa721bc2a91f9d56"
                                        alt="Rwanda Finance" title="Rwanda Finance">
                                </a>

                            </div>
                        </div>
                        <div class="owl-item cloned active" style="width: 185px;">
                            <div id="partners">
                                <a href="https://www.visitrwanda.com/" target="_blank" class="partner" rel="noreferrer">
                                    <img src="https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=f&amp;f=30251&amp;token=6651e7cd3b7e85cd7add1459cdf510ba1766bb26"
                                        alt="Visit Rwanda" title="Visit Rwanda">
                                </a>

                            </div>
                        </div>
                        <div class="owl-item cloned active" style="width: 185px;">
                            <div id="partners">
                                <a href="http://www.rdb.rw" target="_blank" class="partner" rel="noreferrer">
                                    <img src="https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=f&amp;f=30249&amp;token=9c087ab2ba55ab92fbd8bcc729a33fa0921d66dc"
                                        alt="RDB" title="RDB">
                                </a>

                            </div>
                        </div>
                        <div class="owl-item cloned active" style="width: 185px;">
                            <div id="partners">
                                <a href="http://www.irembo.gov.rw" target="_blank" class="partner" rel="noreferrer">
                                    <img src="https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=f&amp;f=30569&amp;token=c606263aaa792e53554c28b35a8c10bc8ccca1c8"
                                        alt="Irembo" title="Irembo">
                                </a>

                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 185px;">
                            <div id="partners">
                                <a href="https://www.rfl.rw/" target="_blank" class="partner" rel="noreferrer">
                                    <img src="https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=f&amp;f=30250&amp;token=49270aa4446ae89e51267d75fa721bc2a91f9d56"
                                        alt="Rwanda Finance" title="Rwanda Finance">
                                </a>

                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 185px;">
                            <div id="partners">
                                <a href="https://www.visitrwanda.com/" target="_blank" class="partner" rel="noreferrer">
                                    <img src="https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=f&amp;f=30251&amp;token=6651e7cd3b7e85cd7add1459cdf510ba1766bb26"
                                        alt="Visit Rwanda" title="Visit Rwanda">
                                </a>

                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 185px;">
                            <div id="partners">
                                <a href="http://www.rdb.rw" target="_blank" class="partner" rel="noreferrer">
                                    <img src="https://www.kigalicity.gov.rw/index.php?eID=dumpFile&amp;t=f&amp;f=30249&amp;token=9c087ab2ba55ab92fbd8bcc729a33fa0921d66dc"
                                        alt="RDB" title="RDB">
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                            aria-label="Previous">‹</span></button><button type="button" role="presentation"
                        class="owl-next"><span aria-label="Next">›</span></button></div>
                <div class="owl-dots disabled"><button role="button" class="owl-dot active"><span></span></button></div>
            </div>
        </div>

    </div>

    <a id="c28401"></a>

    <div class="news">

        <!--TYPO3SEARCH_end-->


        <div class="events" id="eventsContainer" style="display:none;">
            <div class="dropdown show" id="notif_dropdown">
                <a class="text-right float-right" data-bs-toggle="dropdown" data-bs-dismiss="alert"
                    data-display="static" data-toggle="dropdown" data-dismiss="alert" aria-expanded="true">
                    <i class="fas fa-times event_toggle" id="notif_icon" title="Close"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right event_container show">



                </div>
            </div>
        </div>

        <!--TYPO3SEARCH_begin-->

    </div>

    <!--SECTION FOOTER STARTS-->

    

    

    {% endblock %}

