{% load static %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light gov_navbar">
    <div class="container-fluid embassy_container">
        <a href="#" title="KIGALI CITY" class="navbar-brand">
            <img src="{% static 'img/315226443_495503445945728_6376255786164392527_n.jpg' %}" alt="Image" height="70" width="auto">

        </a><a href="#" title="KIGALI CITY" class="navbar-brand logotext">
            <p class="txt_subtitle fnt_black  mabo0">Commune d'Adiaké</p>
        </a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-="" label="Toggle navigation">
            <span id="navbar-hamburger" class="navbar-toggler-icon"></span>
            <span id="navbar-close" class="hidden"><i class="material-icons txt_content">close</i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">


                <li class="nav-item">
                    <a class="nav-link main_option active " href="#" target="" title="Home">
                        Acceuil
                    </a>
                </li>



                <li class="nav-item">
                    <a class="nav-link main_option  has-children" href="#" target="" title="About">
                        La Mairie
                    </a>
                </li>



                <li class="nav-item">
                    <a class="nav-link main_option  " href="#" target="" title="Services">
                        Tourisme
                    </a>
                </li>



                <li class="nav-item">
                    <a class="nav-link main_option  " href="#" target="" title="Projects">
                        Photos
                    </a>
                </li>



                <li class="nav-item">
                    <a class="nav-link main_option  has-children" href="#" target="" title="Updates">
                        Projets
                    </a>
                </li>



                <li class="nav-item">
                    <a class="nav-link main_option  has-children" href="#" target="" title="Publications">
                        Actualité
                    </a>
                </li>



                <li class="nav-item">
                    <a class="nav-link main_option  has-children" href="/1/city-guide/what-to-visit-in-kigali"
                        target="" title="City guide">
                        City guide
                    </a>
                </li>



                <li class="nav-item">
                    <a class="nav-link main_option  has-children"
                        href="/1/receiving-the-disclosures/receiving-the-disclosures" target=""
                        title="RECEIVING THE DISCLOSURES">
                        RECEIVING THE DISCLOSURES
                    </a>
                </li>


            </ul>

            
        </div>
    </div>
</nav>